@page
@model PrivacyModel
@{
    ViewData["Title"] = "Home page";
    @using Newtonsoft.Json
}

<style>

    body{
        text-align: center;
    }

</style>

<h2>Image Gallery</h2>

<div>
    @foreach (var image in Model.Images)
    {
        <img src="~/images/@image.FileName" alt="Image" width="800" height="600" style="object-fit: cover;" />
        <hr>
    }
</div>




