@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    @foreach (var imageUrl in Model.ImageUrls)
    {
        <img src="@imageUrl" alt="Image" />
    }
</div>
