@page
@model PrivacyModel
@{
    ViewData["Title"] = "Home page";
    @using Newtonsoft.Json
}


<h2>Image Gallery</h2>

<div>
    @foreach (var image in Model.Images)
        {
        <img src="@Url.Content(image.FilePath)" alt="Image" width="800" height="600" style="object-fit: cover;"/>
        }
</div>

