<?xml version="1.0"?>
<!-- Other configurations -->
<configuration>
    <system.webServer>
        <security>
            <!-- Your authentication/authorization settings -->
        </security>
    </system.webServer>
    <location path="." inheritInChildApplications="false">
        <system.web>
            <customErrors mode="Off"/>
            <compilation targetFramework="netcoreapp3.1"/>
            <httpRuntime requestValidationMode="2.0" targetFramework="netcoreapp3.1" maxRequestLength="2097152" />
        </system.web>
    </location>
</configuration>